*{
  font-family: Poppins;
}

.speedDial {
    position: fixed;
    right: 3vmax;
    top: 3vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    transition:.3s ease-in-out;
  }
  .speedDialIcon:hover{
    transform: scale(1.2)  ; 
  }