.LoginSignUpContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6a58b;
    position: fixed;
    top: 0%;
    left: 0;
  }
  
  .LoginSignUpBox {
    /* background-color: white;
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden; */
    background: linear-gradient(135deg,rgba(255,255,255,0.1),
    rgba(255,255,255,0));
    width: 25vw;
    height: 70vh;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  }
  .login_signUp_toggle {
    display: flex;
    height: 3vmax;
  }
  .login_signUp_toggle > p {
    color: rgb(0, 0, 0);
    font: bolder 1vmax "Poppins";
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
  }
  .login_signUp_toggle > p:hover {
    color: #d6a58b;
    transform: scale(1.1);
  }
  
  .LoginSignUpBox > div > button {
    background-color: #d6a58b;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
  }
  
  .loginForm,
  .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
  .signUpForm {
    transform: translateY(-100%) translateX(-100vmax);
  }
  
  .loginForm > div,
  .signUpForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    font: 500 0.9vmax "Poppins";
    outline: none;
  }
  
  .loginForm > div > svg,
  .signUpForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgb(0, 0, 0);
  }
  
  .loginForm > a {
    color: rgb(62, 62, 62);
    text-decoration: none;
    align-self: center;
    transition: all 0.5s;
    font: bolder 0.8vmax "Poppins";
  }
  
  .loginForm > a:hover {
    color: #d6a58b;
    transform:scale(1.1);
  }
  
  #registerImage > img {
    width: 3vmax;
    border-radius: 100%;
  }
  #registerImage > input {
    display: flex;
    padding: 0%;
  }
  
  #registerImage > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 700 0.8vmax "Poppins";
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
  
  #registerImage > input::file-selector-button:hover {
    background-color: rgb(254, 208, 208);
    color:rgb(0, 0, 0);

  }
  
  .loginBtn,
  .signUpBtn {
    border: none;
    background-color: #d6a58b;
    color: white;
    font: 900 1vmax "Poppins";
    width: 70%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
  }
  
  .loginBtn:hover,
  .signUpBtn:hover {
    background-color: rgb(245, 76, 88);
    transform: scale(1.1);
  }
  
  .shiftToLeft {
    transform: translateX(-100%);
  }
  .shiftToNeutral {
    transform: translateX(0%);
  }
  
  .shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
  }
  
  .shiftToRight {
    transform: translateX(100%);
  }
  
  @media screen and (max-width: 600px) {
    .LoginSignUpContainer {
      background-color: white;
    }
    .LoginSignUpBox {
      width: 60vw;
      height: 95vh;
    }
    .login_signUp_toggle {
      height: 8vmax;
    }
    .login_signUp_toggle > p {
      font:bolder 2.5vmax "Poppins";
    }
  
    .loginForm,
    .signUpForm {
      padding: 5vmax;
    }
  
    .loginForm > div > input,
    .signUpForm > div > input {
      padding: 2.5vmax 5vmax;
      font: bold 1.7vmax "Poppins";
    }
  
    .loginForm > div > svg,
    .signUpForm > div > svg {
      font-size: 2.8vmax;
    }
  
    .loginForm > a {
      font: bolder 1.8vmax "Poppins";
    }
  
    #registerImage > img {
      width: 8vmax;
      border-radius: 100%;
    }
  
    #registerImage > input::file-selector-button {
      height: 7vh;
      font: bolder 1.8vmax "Poppins";
    }
  
    .loginBtn,
    .signUpBtn {
      font: bold 1.9vmax "Poppins";
      padding: 1.8vmax;
    }
    
    
  }